<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Netpositive Teszt - Csatlós Gábor</title>
        <style>
		table, th, td {
		  border: 2px solid black;
		  border-collapse: collapse;
		}
		</style>
    </head>
    <body>
        <h1>Netpositive Teszt - Csatlós Gábor</h1>
        <p>Érvénytelen paramétert adott meg! A method csak fib vagy mod értéket vehet fel!</p>
    </body>
</html>